<p id="notice"><%= notice %></p>

<p>
  <b>Zapposkey:</b>
  <%= @shoe.zapposkey %>
</p>

<p>
  <b>Term:</b>
  <%= @shoe.term %>
</p>


<%= link_to 'Edit', edit_shoe_path(@shoe) %> |
<%= link_to 'Back', shoes_path %>
